<template>
  <v-ons-page>
    <toolbar>AIO</toolbar>
    <v-ons-button @click="goTo('login')">Sign In</v-ons-button>
    <!-- LOGO -->
  </v-ons-page>
</template>

<script>

import Toolbar from '../Toolbar.vue'

export default {
  props: ['pageStack'],
  name: 'home',
  components: { Toolbar }
  // eslint-disable-next-line
};

</script>

<style type="text/css" scoped>
  .btn-img
  {
    width: 30px;
  }
  .center
  {
    text-align: center;
  }
  .right
  {
    text-align: center;
    width: 50%;
    margin-right: 10px;
    float: right;
  }
  #logo
  {
    height: 200px;
  }
  .aio-btn-cancel
  {
    background-color: #9D9D9D;
  }
  ons-row
  {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .headline
  {
    margin-bottom: 10%;
  }
  .button
  {
    width: 55%;
    font-size: 2em;
    height: 45px;
  }
  .button-page
  {
    background-image:linear-gradient(140deg, #00A7DA, #00B6AF);
    background-size: 100%;
  }
  .footer
  {
    margin-top: 30px;
  }
  .etatCo
  {
    text-align: center;
    color: #d9534f;
  }
  .body
  {
    width: 30%;
    margin-left: -40px;
  }
  #budy
  {
    height: 500px;
  }

  .sizeBtn{
    font-size: 17px;
    color: #00A7DA;
    border: 1px solid #00A7DA;
  }
</style>
