<template>
  <v-ons-page>
    <toolbar :back-label="'RETURN'">AIO</toolbar>
    <v-ons-list>
      <v-ons-list-item>
        <div class="center">
          <v-ons-input placeholder="Input your login" float
            v-model="login">
          </v-ons-input>
        </div>
      </v-ons-list-item>
       <v-ons-list-item>
        <div class="center">
          <v-ons-input placeholder="Input your password" type="password" float
            v-model="password">
          </v-ons-input>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-button @click="sendLoginInfo" >Sign In</v-ons-button>
      </v-ons-list-item>
    </v-ons-list>
  </v-ons-page>
</template>

<script>

import Toolbar from '../Toolbar.vue'

export default {
  props: ['pageStack'],
  name: 'login',
  data () {
    return {
      login: '',
      password: ''
    }
  },
  methods: {
    sendLoginInfo () {
      console.log(this.login + ' -> ' + this.password)
      this.goTo('start')
    }
  },
  components: { Toolbar }
  // eslint-disable-next-line
};

</script>

<style type="text/css" scoped>

</style>
