<template>
  <v-ons-page>
    <toolbar :back-label="'RETURN'">AIO</toolbar>
    <v-ons-list modifier="inset">
      <v-ons-list-header>QCM</v-ons-list-header>
      <v-ons-list-item modifier="chevron" tappable @click="goToQCM">Item A</v-ons-list-item>
      <v-ons-list-item modifier="chevron" tappable>Item B</v-ons-list-item>
      <v-ons-list-item modifier="chevron" tappable>Item C</v-ons-list-item>
    </v-ons-list>
    <!-- LOGO -->
  </v-ons-page>
</template>

<script>

import Toolbar from '../Toolbar.vue'
// import Qcm1 from './QCMs/QCM_1'

export default {
  props: ['pageStack'],
  name: 'start',
  methods: {
    goToQCM () {
      console.log(this.pageStack)
      this.goTo('qcm1')
    }

  },
  components: { Toolbar }
  // eslint-disable-next-line
};

</script>

<style type="text/css" scoped>
  .btn-img
  {
    width: 30px;
  }
  .center
  {
    text-align: center;
  }
  .right
  {
    text-align: center;
    width: 50%;
    margin-right: 10px;
    float: right;
  }
  #logo
  {
    height: 200px;
  }
  .aio-btn-cancel
  {
    background-color: #9D9D9D;
  }
  ons-row
  {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .headline
  {
    margin-bottom: 10%;
  }
  .button
  {
    width: 55%;
    font-size: 2em;
    height: 45px;
  }
  .button-page
  {
    background-image:linear-gradient(140deg, #00A7DA, #00B6AF);
    background-size: 100%;
  }
  .footer
  {
    margin-top: 30px;
  }
  .etatCo
  {
    text-align: center;
    color: #d9534f;
  }
  .body
  {
    width: 30%;
    margin-left: -40px;
  }
  #budy
  {
    height: 500px;
  }

  .sizeBtn{
    font-size: 17px;
    color: #00A7DA;
    border: 1px solid #00A7DA;
  }
</style>
