<template>
    <div>
        <v-ons-list-header>
            Question 1
        </v-ons-list-header>
        <v-ons-list-item v-for="(answer, $index) in answers" :key="answer" tappable>
            <label class="left">
                <v-ons-radio
                :input-id="id + '-' + $index"
                :value="answer"
                v-model="checkedAnswer"
                >
                </v-ons-radio>
            </label>
            <label class="center" :for="id + '-' + $index">
                {{ answer }}
          </label>
        </v-ons-list-item>
    </div>
</template>

<script>

export default{
  props: ['question', 'answers', 'id'],
  data () {
    return {
      checkedAnswer: ''
    }
  },
  methods: {
  }
  // eslint-disable-next-line
};

</script>

<style type="text/css" scoped>
</style>
