<template>
    <v-ons-page>
        <toolbar :back-label="'RETURN'">AIO</toolbar>
        <div v-show="stepCounter == 0" class="step0">
            <v-ons-list>
                <question :id="'01'" :question="'Question 1'" :answers="colors"></question>
                <v-ons-list-item>
                    <v-ons-button @click="nextQuestion" >Next Question</v-ons-button>
                </v-ons-list-item>
            </v-ons-list>
        </div>

        <div v-show="stepCounter == 1" class="step0">
            <v-ons-list>
                <question :id="'02'" :answers="vegetables" :question="'Question 2'"></question>
                <v-ons-list-item>
                    <v-ons-button @click="nextQuestion" >End</v-ons-button>
                </v-ons-list-item>
            </v-ons-list>
        </div>
    </v-ons-page>
</template>

<script>

import Toolbar from '../../Toolbar.vue'
import Question from '../../components/question.vue'

export default {
  props: ['pageStack'],
  name: 'qcm1',
  data () {
    return {
      colors: ['Red', 'Green', 'Blue'],
      vegetables: ['Apples', 'Bananas', 'Oranges'],
      stepCounter: 0
    }
  },
  methods: {
    nextQuestion () {
      if (this.stepCounter > 0) {
        this.pageStack.pop()
        this.goTo('start')
      } else {
        this.checkedAnswer = ''
        this.stepCounter++
      }
    }
  },
  components: { Toolbar, Question }
  // eslint-disable-next-line
};

</script>

<style type="text/css" scoped>

</style>
