<template>
  <v-ons-toolbar id="toolbar">
    <div class="left" v-if="backLabel">
      <v-ons-back-button>{{ backLabel }}</v-ons-back-button>
    </div>
    <div class="center"><slot></slot></div>
    <div class="right"></div>
  </v-ons-toolbar>
</template>

<script>
export default{
  props: ['backLabel', 'action'],
  methods: {
  }
  // eslint-disable-next-line
};
</script>

<style type="text/css" scoped>
  #toolbar
  {
    background-image:linear-gradient(140deg, #00A7DA, #00B6AF);
    background-size: 100%;
    color: white;
  }

  .center
  {
    color: white;
    font-size: 2em;
    text-align: center;
  }

  .left .back-button
  {
    color: white;
    font-size: 2em;
  }

  .right #menu
  {
    color: white;
    font-size: 2.5em;
  }
</style>
